<div>
    <div id="login-form">
        <form method="post" autocomplete="off">
			<img alt="" src="/openmrs/ms/uiframework/resource/tbelims/images/logo.png" width="400px" height="400px">
            <fieldset id="login_container">
                <legend>
                    <i class="icon-lock small"></i><span translate>tbelims.login.loginHeading</span>
                </legend>
				<div id="validationErrorAlert" class="alert alert-danger ng-hide" ng-show="formErrors" role="alert">
					<div>{{ formErrors }}</div>
				</div>
				<section>
	                <div>
	                    <!-- <label for="username">{{ msgs["tbelims.login.username"] }}:</label> -->
	                    <input title='{{ msgs["tbelims.login.username.placeholder"] }}' ng-model="username" type="text" name="username" autofocus="autofocus" required 
							placeholder='{{ "tbelims.login.username.placeholder" | translate }}' />
	                </div>
	
	                <div>
	                    <!-- <label for="password">{{ msgs["tbelims.login.password"] }}:</label> -->
	                    <input title='{{ msgs["tbelims.login.password.placeholder"] }}' ng-model="password" type="password" name="password" required 
							placeholder='{{ "tbelims.login.password.placeholder" | translate }}'/>
	                </div>
                </section>
				<section>
					<button class="btn btn-success btn-lg btn-block" ng-click="login()"  translate>tbelims.login.button</button>
					
					<br><br>
			        <a id="cantLogin" href="javascript:void(0)" 
			        	onclick="jQuery('#forgot_pwd_container').show(); jQuery('login_container').hide(); " class="pull-right">
                    <i class="icon-question-sign small"></i> <span translate>tbelims.login.cannotLogin</span>
                    </a>
				</section>
            </fieldset>
            <fieldset id="forgot_pwd_container">
                <legend>
                    <i class="icon-lock small"></i><span translate>tbelims.login.cannotLogin</span>
                </legend>
				<div id="validationErrorAlert" class="alert alert-danger ng-hide" ng-show="formErrors" role="alert">
					<div>{{ formErrors }}</div>
				</div>
				<section>
	                <div>
	                    <input title='{{ "tbelims.login.username.placeholder" | translate }}' ng-model="fg_username" type="text" name="fg_username" autofocus="autofocus" required 
							placeholder='{{ "tbelims.login.username.placeholder" | translate }}' />
	                </div>
                </section>
				<section>
					<button class="btn btn-success btn-lg btn-block" ng-click="forgotPassword()" translate>tbelims.submit</button>
					<button class="btn btn-secondary btn-lg btn-block" 
						onclick="jQuery('#forgot_pwd_container').hide(); jQuery('login_container').show(); " translate>tbelims.cancel</button>
				</section>
            </fieldset>

            <input type="hidden" name="redirectUrl" value="${redirectUrl}" />

        </form>

    </div>
</div>
